{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<form method="" action="">
	<div class='table'>
    <table class='no_error'>
        {{ form.as_table }}
    </table>
    </div>
<input type="button" value="addChoice" id="add_more">
</form>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
<script>
	 $('#add_more').click(function() {
        cloneMore('div.table:last', 'service');
    });

	function cloneMore(selector, type) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + type + '-TOTAL_FORMS').val();
    newElement.find(':input').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    newElement.find('label').each(function() {
        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
        $(this).attr('for', newFor);
    });
    total++;
    $('#id_' + type + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
}
</script>
{% endblock %}